            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/tencentlocation">
                  GitHub
                </a>
              </li>
              <li>
                <a href="http://410063005.github.io/">
                  默默前行
                </a>
              </li>
              <li>
                <a href="http://lbs.qq.com/">
                  腾讯地图开放平台
                </a>
              </li>              
              <li>
                <a href="http://map.qq.com/">
                  腾讯地图
                </a>
              </li>
              <li>
                <a href="http://www.ruanyifeng.com/blog/">
                  Ruanyifeng's Blog
                </a>
              </li>
              <li>
                <a href="http://blog.jobbole.com/">
                  Jobbole
                </a>
              </li>
            </ul>